*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
.header-section{
    background-image: url(../images/dur.png);
}
.header-text{
    width: 38%;
}
.photo{
    transform: translateY(25px);
}

.features{
    /* position: relative; */
    z-index: 99;
    /* clip-path: polygon(0 32%, 100% 51%, 100% 100%, 0% 100%); */
    background: white;
    overflow: hidden;
}

.hover{
    position: absolute;
    bottom: -10%;
    right: -5%;
    height: 0%;
    width: 115%;
    background: black;
    transition: 0.4s;
    opacity: 0;
    transform: rotate(5deg);

}

.features:hover .hover{
    height: 60%;
}